<!DOCTYPE html>
<html lang="pt_BR" class="<%= htmlWebpackPlugin.options.namespace %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=0"
    />
    <meta http-equiv="cleartype" content="on" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="application-name"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta name="apple-mobile-web-app-status-bar-style" content="" />
    <meta
      name="apple-mobile-web-app-title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />

    <!-- facebook metatags -->
    <meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.og.title %>"
    />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.og.url %>" />
    <meta
      property="og:image"
      content="<%= htmlWebpackPlugin.options.og.image %>"
    />
    <meta
      property="og:description"
      content="<%= htmlWebpackPlugin.options.og.description %>"
    />
    <meta
      property="og:site_name"
      content="<%= htmlWebpackPlugin.options.og.site_name %>"
    />
    <meta
      property="og:type"
      content="<%= htmlWebpackPlugin.options.og.type %>"
    />

    <!-- twitter cards -->
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:title"
      content="<%= htmlWebpackPlugin.options.og.title %>"
    />
    <meta
      name="twitter:description"
      content="<%= htmlWebpackPlugin.options.og.description %>"
    />
    <meta
      name="twitter:image"
      content="<%= htmlWebpackPlugin.options.og.image %>"
    />
    <meta
      name="twitter:image:alt"
      content="<%= htmlWebpackPlugin.options.og.description %>"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap"
    />

    <link rel="icon" href="./assets/images/profile-header-ph.png"/>

    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    /> -->

    <title>
      neWave-one
    </title>

    <!-- <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/> -->
  </head>

  <body>
    <main id="root"></main>
  </body>
</html>
