<!DOCTYPE html>
<html lang="pt_BR" class="<%= htmlWebpackPlugin.options.namespace %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=0"
    />
    <meta http-equiv="cleartype" content="on" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>
      neWave-one
    </title>
  </head>

  <body>
    <main id="root"></main>
  </body>
</html>
